@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

footer {
    background-color: rgb(10, 10, 10);
    color: white;
    
}
p {
    background-color: rgb(10, 10, 10);
    display: flex;
}

.rodape {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-left: 100px;
}

h2 {
    border-top: 20px;
    font-size: 20px;
}